@import "https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap";

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@font-face {
  font-family: "National 2 narrow web";
  src: url("https://uploads-ssl.webflow.com/5ff211b17095aa7b6582b8cb/5ff211b17095aa7d3d82bada_national-2-narrow-web-medium.eot")
      format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}


p{
  text-align: justify; 
  text-justify:newspaper;
}

#portrait {
  border-radius: 30%;
  width: 15vw;
  margin-left: 10vw;
  -webkit-filter: grayscale(100%);
}

#portrait:hover {
  filter: none;
}

#portrait-container {
  width: 30vw;
}

#left-header {
  width: 30vw;
}

#name p,
#name h1 {
  font-family: Permanent Marker, Work Sans, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 80%;
  width: 30vw;
  text-align: center;
  margin: 5%;
}

#name p {
  font-size: 1rem;
}

#header {
  background-image: url("assets/background-softcolors.webp");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}


.section > div,
#feature {
  -webkit-box-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  box-sizing: border-box;
  font-family: "National 2 narrow web", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 2;
}

#aboutme {
  padding: 0.5rem 1rem;
  display: inline-block;
  background-color: rgb(254 217 111);
  font-family: Permanent Marker;
}

#aboutme + p {
  margin-right: 60px;
  margin-left: 60px;
}

#feature > p {
  margin-top: 0;
  margin-bottom: 2rem;
}

.section-title {
  width: 100%;
  height: 25%;
  object-fit: scale-down;
  background-image: url("assets/background-softcolors.webp");
  background-attachment: fixed;
  background-size: cover;
  font-family: Righteous, Helvetica, sans-serif;
  letter-spacing: 1.5rem;
  font-size: 10vw;
  text-align: center;
  margin-bottom: 30px;
  padding-right: 70px;
}

.cert, .uni-studies, .old-jobs, #current-job{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

#current-job {
  background-color: rgb(180, 207, 232, 0.5);
  padding: 50px;
  transition-duration: 0.7s;
  border-radius: 50px;
}

.logo{
  width: 50px;
}

h3,h4{
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

#current-job:hover, .old-jobs:hover, .uni-studies:hover, .cert:hover{
  border-radius: 71px;
}

.old-jobs {
  background-color: rgba(180, 207, 232, 0.2);
  padding: 50px;
  border-radius: 50px;
  transition-duration: 0.7s;
  margin-top: 20px;
}

.old-jobs:last-of-type {
  margin-bottom: 20px;
}

.uni-studies {
  background-color: rgb(245, 228, 229);
  padding: 50px;
  transition-duration: 0.7s;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cert {
  background-color: rgb(245, 228, 229, 0.35);
  padding: 50px;
  transition-duration: 0.7s;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button-collapsible{
  background-color: rgb(180, 207, 232, 0.5);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .button-collapsible:hover {
  background-color: rgb(180, 207, 232, 1);
}

.collapsible{
  display: none;
  background-color: rgba(0, 0, 0, 0.02);
}

footer{
  background-image: url("assets/background-softcolors.webp") ;
  background-size:auto;
  background-size: cover;
  height: 70vh;
}

footer div {
  margin: 5px 20px;
}

#contact{
  text-align: left;
  font-family: Righteous, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: x-large;
}

.nav{
  position: fixed;
  top: 30vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 239, 239, 0.482);
}

.nav-btn{
  margin: 10px;
}

.nav-btn > img {
  width: 50px;
}